asyncio==3.4.3            # Стандартная библиотека Python для работы с асинхронным программированием
aiogram>=3.8.0            # Библиотека для создания ботов на платформе Telegram с использованием async/await

environs==11.2.1          # Библиотека для управления конфигурациями и переменными окружения
python-dotenv>=1.0.1      # Библиотека для загрузки переменных окружения из файла .env

pipreqs                   # Библиотека для автоматического создания файла requirements.txt
psutil                    # Библиотека для мониторинга системных ресурсов

requests==2.32.3          # Простая библиотека для отправки HTTP-запросов
aiohttp>=3.9.5            # Асинхронная HTTP-библиотека с улучшенной производительностью для работы с HTTP-запросами
openai==1.55.0            # Клиент для работы с API OpenAI
